/* this is my external style .css*/
* {
    color:brown;
    text-align: center;
    font-size: 20px;
}

p{
    color: black;
}

.highlight { font-size: 25px}

#container {
    background-color: aquamarine;
}